<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Calligraphy - Feedback</title>

    <!--jQuery.min.js-->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!--Bootstrap.min.js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!--Angular.min.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!--Angular-messages.min.js - messages module-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

    <!--Owl Carousel.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <link rel="stylesheet" href="css/base.css">

    <!--icon web-->
    <link rel="icon" type="image/png" sizes="256x256" href="image/icon.png">
</head>

<body ng-app="myApp"> <!--IMPORTANT NG-APP-->

    <!--MENU-->
    <div class="container-fluid sticky-top navigatebar">
        <nav class="navbar navbar-expand-xl">
            <div class="container-fluid menu">
                <a class="navbar-brand col-xxl-3 col-xl-3 col-lg-2 d-flex justify-content-end" href="index.html">
                    <img src="image/logo.png" alt="" class="img-fluid">
                </a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu-content">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse col-xxl-9 col-xl-9 col-lg-10" id="menu-content">
                    <ul class="navbar-nav d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="calligraphy-page.html">Calligraphy</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="sub-menu-content">
                                Categories
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="#sub-menu-content">
                                <li>
                                    <a class="dropdown-item" href="arabic-page.html">Arabic</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="east-asian-page.html">East Asian</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="greek-page.html">Greek</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="indic-page.html">Indic</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="western-page.html">Western</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="sub-menu-content">
                                Learn
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="#sub-menu-content">
                                <li>
                                    <a class="dropdown-item" href="learn-basic-page.html">Basic</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="learn-intermediate.html">Intermediate</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="learn-advanced.html">Advanced</a>
                                </li>
                        </li>
                    </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="contact-page.html">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="about-page.html">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Feedback</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>




    <!--SECTION-->
    <section class="container-fluid" style="padding: 0;">
        <!--Feedback-->
        <div
            class="col-xxl-12 col-xl-12 col-lg-12 d-flex flex-column d-flex align-items-center d-flex justify-content-center feedback">
            <div class="col-xxl-11 col-xl-11 col-lg-11 d-flex align-items-start d-flex justify-content-center gap-2">
                <!--img feedback-->
                <div class="col-xxl-7 col-xl-7 col-lg-7 d-flex flex-column d-flex align-items-center d-flex justify-content-center px-3">
                    <p style="font-weight: 600; font-size: 3em; color: #033f52; margin-bottom: 25px;">Feel
                        free to drop us your feedback</p>

                    <img src="image/feedback-page/sub-banner-feedback.jpg" alt="" class="img-fluid">
                </div>

                <!--form-->
                <div
                    class="col-xxl-5 col-xl-5 col-lg-5 d-flex flex-column d-flex align-items-start d-flex justify-content-center px-3 py-4">
                    <div
                        class="col-xxl-10 col-xl-10 col-lg-10 d-flex align-items-start d-flex justify-content-center form-container-1">
                        <form action="" name="feedback">
                            <!--name-->
                            <div
                                class="d-flex flex-column d-flex align-items-start d-flex justify-content-center sub-form-container-1">
                                <label><strong>Name</strong></label>

                                <input type="text" name="nameid" ng-model="mNameid" placeholder="Name*"
                                    ng-pattern="/^\S.*$/" ng-trim="false" ng-maxlength="30" required>

                                <div ng-messages="feedback.nameid.$error" ng-messages-multiple>
                                    <div ng-message="required"
                                        ng-show="feedback.nameid.$error.required && feedback.nameid.$dirty"
                                        style="margin: 10px 0 5px 0; font-weight: 600; color: red;">Name is
                                        Required.</div>
                                    <div ng-message="pattern"
                                        style="margin: 10px 0 5px 0; font-weight: 600; color: red;">Name has format
                                        at least 1 character except for space.
                                    </div>
                                </div>
                            </div>

                            <!--email-->
                            <div
                                class="d-flex flex-column d-flex align-items-start d-flex justify-content-center sub-form-container-1">
                                <label><strong>Email</strong></label>

                                <input type="email" name="mail" ng-model="mMail" placeholder="Email*"
                                    ng-pattern="/^[a-z0-9\-_\.]+@([a-z0-9]+\.)+[a-z]{2,3}$/" ng-trim="false" required>

                                <div ng-messages="feedback.mail.$error" ng-messages-multiple>
                                    <div ng-message="required"
                                        ng-show="feedback.mail.$error.required && feedback.mail.$dirty"
                                        style="margin: 10px 0 5px 0; font-weight: 600; color: red;">Email is
                                        required.</div>
                                    <div ng-message="pattern"
                                        style="margin: 10px 0 5px 0; font-weight: 600; color: red;">Email has
                                        format abc@abc.com</div>
                                </div>
                            </div>

                            <!--range slider-->
                            <div class="d-flex flex-column d-flex align-items-start d-flex justify-content-center range-slider">
                            <p style="font-weight: 600; color: #056381; margin-bottom: 25px;">How satisfied are you with the design of our website?</p>   
                                <div class="slider">
                                    <ul class="rate">
                                        <li>0</li>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                    </ul>
                                    <input type="range" min="0" max="5" value="5" step="1" list="rate">
                                    <div class="d-flex align-items-center d-flex justify-content-between mt-3">
                                        <p style="font-size: 0.8em; color: black;">Not at all likely</p>

                                        <p style="font-size: 0.8em; color: black;">Extremely likely</p>
                                    </div>
                                </div> 
                            </div>

                            <!--text box-->
                            <div
                                class="d-flex flex-column d-flex align-items-start d-flex justify-content-center sub-form-container-1">
                                <textarea placeholder="Please tell us your reasons for giving this score here..."
                                    rows="4" style="width: 100%; background-color: #f0f4f7;"></textarea>

                            </div>

                            <!--submit button-->
                            <button type="submit" ng-disabled="feedback.$invalid" onclick="location.href='#'">Send
                                Feedback</button>

                        </form>
                    </div>
                </div>


            </div>
        </div>

    </section>






    <!--FOOTER-->
    <footer class="container-fluid">
        <div class="row d-flex justify-content-center">
            <p class="col-xxl-10 col-xl-10 col-lg-12 start-footer">QUICK CALLIGRAPHY</p>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-xxl-10 col-xl-10 col-lg-12">
                <div class="row main-container1">
                    <div class="col-xxl-2 col-xl-2 col-lg-4">
                        <ul class="sub-container">
                            <li><a href="about-page.html">About</a></li>
                            <li><a href="calligraphy-page.html">Calligraphy</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                        </ul>
                    </div>

                    <div class="col-xxl-6 col-xl-6 col-lg-8">
                        <ul class="sub-container">
                            <li><a href="learn-basic-page.html">Learn <span>&#9900;</span> Basic</a></li>
                            <li><a href="learn-intermediate.html">Learn <span>&#9900;</span> Intermediate</a></li>
                            <li><a href="learn-advanced.html">Learn <span>&#9900;</span> Advanced</a></li>
                        </ul>
                    </div>

                    <div class="col-xxl-4 col-xl-4 col-lg-6">
                        <div class="form-container d-flex align-items-center">
                            <form action="" name="subscribe">
                                <label for="">Get the freshest Quick Calligraphy news</label><br />

                                <div class="sub-form-container d-flex align-items-center">
                                    <input type="email" name="mailid" ng-model="mMailid"
                                        ng-pattern="/^[a-z0-9\-_\.]+@([a-z0-9]+\.)+[a-z]{2,3}$/" ng-trim="false"
                                        placeholder="Your email here" required>
                                    <input type="submit" value="Subscribe" ng-disabled="subscribe.$invalid">
                                </div>

                                <div class="error-container" ng-messages="subscribe.mailid.$error">
                                    <div ng-message="pattern"
                                        ng-show="subscribe.mailid.$error.pattern && subscribe.mailid.$dirty">Email has
                                        format
                                        abc@abc.com</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-xxl-10 col-xl-10 col-lg-12 icon-container">
                <a href="https://www.facebook.com/">
                    <img src="image/footer/icon-facebook.png" alt=""
                        onmouseover="this.src='image/footer/icon-facebook-hover.png'"
                        onmouseout="this.src='image/footer/icon-facebook.png'">
                </a>

                <a href="https://twitter.com/">
                    <img src="image/footer/icon-twitter.png" alt=""
                        onmouseover="this.src='image/footer/icon-twitter-hover.png'"
                        onmouseout="this.src='image/footer/icon-twitter.png'">
                </a>

                <a href="https://mail.google.com/mail/u/0/#inbox">
                    <img src="image/footer/icon-googleplus.png" alt=""
                        onmouseover="this.src='image/footer/icon-googleplus-hover.png'"
                        onmouseout="this.src='image/footer/icon-googleplus.png'">
                </a>

                <hr>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-xxl-10 col-xl-10 col-lg-12 main-container2">
                <a href="about-page.html">About</a>
                <a href="contact-page.html">Contact</a>
                <a href="#">Feedback</a>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-xxl-10 col-xl-10 col-lg-12">
                <p class="end-footer">&copy; 2023 Quick Calligraphy. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>





<script>
    /*angularjs*/
    let myApp = angular.module("myApp", ["ngMessages"]);


</script>

</html>