/*FONT FOR CONTENT*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


/*FONT MENU*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poppins:wght@700&display=swap');

/* MENU*/
body{
    margin: 0px;
}

/*logo*/
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

/*menu*/
nav {
    font-family: 'Dancing Script', cursive;
    display: flex;
    position: sticky; 
    top: 0;
    background-color: #ffffff;
}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 80%;
}

.main-menu li {
    position: relative;
    margin-right: 90px;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.main-menu ul.sub-menu {
    position: absolute;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    display: none;
    background-color: white;
}

.main-menu li:hover ul.sub-menu {
    display: block;
}

.main-menu li a:hover {
    color: #92924c;
}

.main-menu ul.sub-menu a {
    width: 120px;
    padding: 8px 0px 8px 15px;
    border-bottom: 1px solid wheat;
}

.main-menu ul.sub-menu li:hover a {
    border-bottom: 1px solid #a8833f;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', cursive;
    width: 100%;
    background-color: #033f52;
}

/*start title*/
.start-footer{
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin-bottom: 30px;
    width: 65vw;
}

/*main content 1*/
.main-container1{
    display: flex;
    width: fit-content;
    align-items: start;
    width: 65vw;
}

/*list*/
.sub-container li{
    list-style-type: none;
    margin: 0 0 10px 0;
}

.sub-container span{
    line-height:1px;
}

.sub-container{
    padding: 0;
    margin: 0 65px 0 0;
}

.sub-container a{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.sub-container li a:hover {
    color: #92924c;
}

/*input*/
.form-container{
    margin-left: 23vw;
}

.form-container label{
    font-size: 1.2em;
    color: white;
}

.sub-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form-container input[type=email]{
    width: 15vw;
    height: 30px;
    color: white;
    background-color: transparent;
    border: thin solid white;
}

.form-container input[type=submit]{
    width: 5vw;
    height: 34px;
    background-color: transparent;
    border: thin solid white;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

.error-container{
    color: red;
    margin-top: 10px;
}

/*icon*/
.icon-container{
    margin: 25px 0 10px 0;
    width: 65vw;
}

.icon-container a{
    text-decoration: none;
    margin-right: 15px;
}

/*line hr*/
hr{
    width: 65%;
}

/*main content 2*/
.main-container2{
    display: flex;
    width: fit-content;
    align-items: start;
    width: 65vw;
}

.main-container2 a{
    font-weight: 0.8em;
    text-decoration: none;
    color: white;
    border-right: thin solid white;
    padding-right: 15px;
    margin: 10px 15px 10px 0;
}

.main-container2 a:hover{
    color: #92924c;
    border-right: thin solid #92924c;
}

/*end title*/
.end-footer{
    font-size: 0.8em;
    color: white;
    margin-bottom: 30px;
    width: 65vw;
}


